html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

#app {
    margin-bottom: 100px;
}

.logo {
    font-size: 25px !important;
}

.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 100%;
    cursor: pointer;
}

hr {
    border-top: 1px solid #d4cdcd !important;
}

.sourceImg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    max-width: 100%;
    margin-bottom: 20px;
}

.article-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 115px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.source { 
	margin:0 4% 50px; 
	text-align:center;
}

.label {
	cursor: pointer;
}

.author {
    padding-left: 10px;
}

.publishedAt {
    padding-top: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
}

.powered{
    margin-top: 20px;
}

.navPills {
    padding-left: 20px !important;
}

.navPills li a {
    min-width: 100px;
    text-align: center;
    padding-right: 10px;
}

.activePill {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.well {
    background: none !important;
}

.z-depth {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.capitalize {
    text-transform:capitalize;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}


.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}
