html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

#app {
	margin-top: 50px;
    margin-bottom: 100px;
}

.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    width: 100%;
    border: 1px solid #babfc7;
    box-sizing: border-box;
    cursor: pointer;
}

hr {
    border-top: 1px solid #d4cdcd !important;
}


.article-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 115px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.source { 
	margin:0 4% 50px; 
	text-align:center;
}

.label {
	cursor: pointer;
}

.author {
    padding-left: 10px;
}

.publishedAt {
    padding-top: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    text-align: center;
}

.powered{
    margin-top: 20px;
}

.navPills {
    padding-left: 20px !important;
}

.navPills li a {
    min-width: 100px;
    text-align: center;
    padding-right: 10px;
}

.activePill {
    color: #fff !important;
    background-color: #337ab7 !important;
}

.well {
    background: none !important;
}

.z-depth {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}